<!DOCTYPE html>

<head>
  <meta charset="UTF-8">
  <title>eShop</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
  <script src="./script-vue.js"></script>
  <link href="./styles-vue.css" rel="stylesheet">
</head>

<body>
  <div id='app'>
    <header>
      <input class="header-input" placeholder="Найти товар" v-model='query' type="text" />
      <button class="cart-button" type="button">Корзина</button>
    </header>
    <div class="basket">
      <div class="basket-list">
      </div>
    </div>
    <main>
      <div class="goods-list">
        <div v-for="item in filteredGoods" class="goods-list_item">
          <img />
          <span class="heading">{{item.title}}</span>
          <span class="price">{{item.price}}</span>
          <a class="button" href='#'>{{basketName}}</a>
        </div>
      </div>
    </main>
  </div>

</body>

</html>